In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

In [ ]:
df_train=pd.read_csv("/content/drive/My Drive/UNSW_NB15_training-set.csv")
df_train.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.121478   tcp       -  ...          1                0      Normal      0
1   2  0.649902   tcp       -  ...          6                0      Normal      0
2   3  1.623129   tcp       -  ...          6                0      Normal      0
3   4  1.681642   tcp     ftp  ...          1                0      Normal      0
4   5  0.449454   tcp       -  ...         39                0      Normal      0

[5 rows x 45 columns]

In [ ]:
df_test=pd.read_csv("/content/drive/My Drive/UNSW_NB15_testing-set.csv")
df_test.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.000011   udp       -  ...          2                0      Normal      0
1   2  0.000008   udp       -  ...          2                0      Normal      0
2   3  0.000005   udp       -  ...          3                0      Normal      0
3   4  0.000006   udp       -  ...          3                0      Normal      0
4   5  0.000010   udp       -  ...          3                0      Normal      0

[5 rows x 45 columns]

# Data preprocessing
- One hot encoding for categorical features

In [ ]:
y_train = df_train['label']
x_train = df_train.drop(columns = ['label','attack_cat','id'])
y_test = df_test['label']
x_test = df_test.drop(columns = ['label','attack_cat','id'])

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)
x_test = x_test.reindex(columns = x_train.columns, fill_value=0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(175341, 194)
(82332, 194)
(175341,)
(82332,)

#XGBoost

In [ ]:
import xgboost as xgb
params = {
    'max_depth': 10,
    'objective': 'multi:softmax',  
    'num_class': 2,                
    'n_gpus': 4
}

clf = xgb.XGBClassifier(**params)
clf.fit(x_train, y_train)
y_pred=clf.predict(x_test)
print("Accuracy: ",metrics.accuracy_score(y_test,y_pred))
print("F1 score: ",metrics.f1_score(y_test,y_pred))
print("Precision: ",metrics.precision_score(y_test,y_pred))
print("Recall: ",metrics.recall_score(y_test,y_pred))

Accuracy:  0.8687509109459263
F1 score:  0.8912286352746965
Precision:  0.8196023253230644
Recall:  0.9765728403776581