In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

In [ ]:
df_train=pd.read_csv("/content/drive/My Drive/UNSW_NB15_training-set.csv")
df_train.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.121478   tcp       -  ...          1                0      Normal      0
1   2  0.649902   tcp       -  ...          6                0      Normal      0
2   3  1.623129   tcp       -  ...          6                0      Normal      0
3   4  1.681642   tcp     ftp  ...          1                0      Normal      0
4   5  0.449454   tcp       -  ...         39                0      Normal      0

[5 rows x 45 columns]

In [ ]:
df_test=pd.read_csv("/content/drive/My Drive/UNSW_NB15_testing-set.csv")
df_test.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.000011   udp       -  ...          2                0      Normal      0
1   2  0.000008   udp       -  ...          2                0      Normal      0
2   3  0.000005   udp       -  ...          3                0      Normal      0
3   4  0.000006   udp       -  ...          3                0      Normal      0
4   5  0.000010   udp       -  ...          3                0      Normal      0

[5 rows x 45 columns]

# Data preprocessing
- One hot encoding for categorical features

In [ ]:
y_train = df_train['label']
x_train = df_train.drop(columns = ['label','attack_cat','id'])
y_test = df_test['label']
x_test = df_test.drop(columns = ['label','attack_cat','id'])

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)
x_test = x_test.reindex(columns = x_train.columns, fill_value=0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(175341, 194)
(82332, 194)
(175341,)
(82332,)

# Fully Connected Network

In [ ]:
import tensorflow as tf
input_layer = tf.keras.Input(shape=(x_train.shape[1]))
x = tf.keras.layers.Dense(x_train.shape[1], activation="relu")(input_layer)
x = tf.keras.layers.Dense(64, activation="relu")(x)
x = tf.keras.layers.Dense(32, activation="relu")(x)
output_layer = tf.keras.layers.Dense(2, activation="softmax")(x)

# Create the model
fcn = tf.keras.models.Model(input_layer, output_layer, name="Fully_Connected_Network")

# Compile the model
fcn.compile(optimizer = 'adam', loss="SparseCategoricalCrossentropy", metrics = ['accuracy'])
fcn.summary()

# Fit the model
fcn.fit(x_train, y_train, epochs=1, batch_size=256)

loss, accuracy = fcn.evaluate(x_test,y_test, batch_size=64)
# print("Accuracy", accuracy)
y_pred=fcn.predict(x_test)
y_pred = np.argmax(y_pred,axis=1)
print("Accuracy: ",metrics.accuracy_score(y_test,y_pred))
print("F1 score: ",metrics.f1_score(y_test,y_pred))
print("Precision: ",metrics.precision_score(y_test,y_pred))
print("Recall: ",metrics.recall_score(y_test,y_pred))

Model: "Fully_Connected_Network"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 194)]             0
_________________________________________________________________
dense (Dense)                (None, 194)               37830
_________________________________________________________________
dense_1 (Dense)              (None, 64)                12480
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 66
=================================================================
Total params: 52,456
Trainable params: 52,456
Non-trainable params: 0
_________________________________________________________________
35/35 [==============================] - 0s 4ms/step - loss: 9766513.0000 - accuracy: 0.7000
1287/1287 [==============================] - 1s 1ms/step - loss: 4087293.0000 - accuracy: 0.6261
Accuracy:  0.6260992080843415
F1 score:  0.7409059538438231
Precision:  0.5989902288995944
Recall:  0.9709476749316156